<table class="table table-stripped">
  <thead>
    <tr>
      <th>Job Name</th>
      <th>Author</th>
      <th>Status</th>
      <th>Visualize</th>
      <th>Started</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    {{#each jobs as |job|}}
      <tr>
        <td>{{job.name}}</td>
        <td>{{job.user_name}}</td>
        <td><i class={{job.status.icon}}></i></td>
        <td>
          {{#if job.hasCompleted}}
            {{#link-to 'public.result' job.id}}
              {{option-bar.exec-btn class='play' icon='eye'}}
            {{/link-to}}
          {{else}}
            {{option-bar.exec-btn class='empty' icon='eye-slash'}}
          {{/if}}
        </td>
        <td>{{format-date job.started}}</td>
        <td>
          {{#if job.hasCompleted}}
            {{format-date job.finished}}
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
