<div class="gViz-header">
  <div class='symbol'>
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <span class='title'>Grafo de Co-ocorrência</span>
</div>

{{#unless empty}}
  <div class="canvas-wrapper">
    <div class="label-wrapper"></div>
    <div class="controls">
      <span class='btn btn-dark btn-md' id='zoom-in' title='Clique para ampliar.'><i class='fa fa-search-plus'></i></span>
      <span class='btn btn-dark btn-md' id='zoom-out' title='Clique para diminuir o zoom.'><i class='fa fa-search-minus'></i></span>
      <span class='btn btn-dark btn-md' id='zoom-reset'  title='Clique para reiniciar o zoom no estado inicial.'>Reverter Zoom</span>
      <span class='btn btn-dark btn-md active' id='label-graph' title='Clique para mostrar/esconder legendas.'><i class='fa fa-list'></i></span>
      <div class="btn-group pull-right action-switch" role="group" aria-label="">
        <span class='btn btn-dark btn-md active' id='drag' title='Clique para ativar o modo de arraste.'><i class='fa fa-hand-pointer-o'></i></span>
        <span class='btn btn-dark btn-md' id='zoom' title='Clique para ativar o modo de zoom.'><i class='fa fa-search'></i></span>
        <span class='btn btn-dark btn-md' id='pan' title='Clique para ativar o modo de panning.'><i  class='fa fa-arrows'></i></span>
      </div>
      <span class='btn btn-dark btn-md' id='highlight-reset' title='Clique para reverter o destaque de nós para a forma inicial.'>Reverter Destaque</span>
      <div class="input-group">
        <input class='input-search' id='search-graph' placeholder="Digite para buscar nós..." />
        <span class="input-group-addon" {{action 'submitSearch'}}><i class='fa fa-search'></i></span>
      </div>
    </div>
    <div class='gViz-wrapper' data-id={{_id}} style={{style}} data-canvas='graph-canvas' data-action='drag'></div>
  </div>
{{else}}
  {{visualizations/empty-vis msg=msg}}
{{/unless}}
