<div class="gViz-wrapper" data-id='sentiment-analysis-v2'>
  <div class="one-row header">
    <div class="col col-1">
      <img src="/assets/img/brasao-da-republica-do-brasil.png"
           class="brasao-da-republica">
    </div>

    <div class="col col-5">
      <div class="title">
        <span class="project-title"> {{title}} </span><br>
        <span class="project-description"> {{description}} </span>
      </div>
    </div>

    <div class="col col-offset-3 col-3 statistics">
      <div class="col col-6">
        <span class="count"> {{articles-total}} </span><br>
        <span class="text"> Artigos </span>
      </div>
      <div class="col col-6">
        <span class="count"> {{participations-total}} </span><br>
        <span class="text"> Participações </span>
      </div>
    </div>
  </div>

  <div class="one-row filters">
    <div class="col col-3 border-right">
      <span class="title">Filtros</span>

      <div class="one-row sentiment">
        <div class="one-row filter-title">Sentimentos</div>
        <div class="col col-3 col-offset-1 limit-height">
        <i class="emoticon negative icon-emo-unhappy"></i>
        </div>
        <div class="col col-3 limit-height">
        <i class="emoticon neutral icon-emo-sleep"></i>
        </div>
        <div class="col col-3 limit-height">
        <i class="emoticon positive icon-emo-happy"></i>
        </div>
      </div>

      <div class="one-row filter-slider">
        <div class="one-row filter-title">Número de Participações</div>
        <!-- div class="one-row sentiment-slider">
          <div class="col col-2">
            <span class="slider-left">{{participations-min}}</span>
          </div>
          <div class="col col-8">
            <input type="range" min="1" max="100" value="50" id="myRange"
                                                             class="slider" data-id="sentiment-analysis">
          </div>
          <div class="col col-2">
            <span class="slider-right">{{participations-max}}</span>
          </div>
        </div-->
      </div>

    </div>

    <div class="col col-9">
      <div class="input-group">
        <input class='input-search' id='search-graph' placeholder="Digite para buscar artigos..." />
        <span class="input-group-addon" {{action 'submitSearch'}}><i class='fa fa-search'></i></span>
      </div>
    </div>
  </div>

  <div class="one-row content">
    {{#each articles as |article idx|}}
      <div class="one-row article">
        <div class="col col-3 gViz-wrapper-outer">
          <div class="gViz-wrapper-inner"></div>
        </div>
        <div class="col col-9 article-content">
          <div class="col col-2 article-title">
            Art. {{article.number}}
            <i class="fa fa-arrow-right expand-article" data-id={{idx}}></i>
          </div>
          <div class="col col-10 article-text has-max-height" data-id={{idx}}>
            {{#each article.paragraphs as |paragraph|}}
              <div>
                {{paragraph.text}}
              </div>
              <br>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>
