<div class="gViz-wrapper" data-id='sentiment-analysis-v2'>
  <div class="one-row header">
    <div class="col col-1">
      <img src="/assets/img/brasao-da-republica-do-brasil.png"
           class="brasao-da-republica">
    </div>

    <div class="col col-5">
      <div class="title">
        <span class="project-title"> {{title}} </span><br>
        <span class="project-description"> {{description}} </span>
      </div>
    </div>

    <div class="col col-offset-3 col-3 statistics">
      <div class="col col-6">
        <span class="count"> {{articles}} </span><br>
        <span class="text"> Artigos </span>
      </div>
      <div class="col col-6">
        <span class="count"> {{participations}} </span><br>
        <span class="text"> Participações </span>
      </div>
    </div>
  </div>

  <div class="one-row filters">
    <div class="col col-3 border-right">
      <span class="title">Filtros</span>

      <div class="one-row sentiment">
        <div class="one-row"><span class="title">Sentimentos</span></div>
        <div class="col col-3 col-offset-1">
        <i class="emoticon negative icon-emo-unhappy"></i>
        </div>
        <div class="col col-3">
        <i class="emoticon neutral icon-emo-sleep"></i>
        </div>
        <div class="col col-3">
        <i class="emoticon positive icon-emo-happy"></i>
        </div>
      </div>

      <div class="one-row sentiment-slider">
        <span class="title">Número de Participações</span>
        <div class="col col-2">
        <span class="slider-left">{{min_participations}}</span>
        </div>
        <div class="col col-8">
        <input type="range" min="1" max="100" value="50" id="myRange">
        </div>
        <div class="col col-2">
        <span class="slider-right">{{participations}}</span>
        </div>
      </div>

    </div>

    <div class="col col-9">
      <div class="input-group">
        <input class='input-search' id='search-graph' placeholder="Digite para buscar artigos..." />
        <span class="input-group-addon" {{action 'submitSearch'}}><i class='fa fa-search'></i></span>
      </div>
    </div>
  </div>

</div>
