<td>
  <label class="item-check" id="select-all-items">
    <input id="checkbox-{{datasource.id}}" type="checkbox" class="checkbox" onchange={{action "checked" datasource.id}} >
    <span></span>
  </label>
</td>
<td>{{datasource.name}}</td>
<td>
  <button class="anchor-button__icon" {{action 'deleteDatasource' datasource}}>
    <img src="/assets/img/icons/icon-delete.svg" alt="">
  </button>
  {{#link-to 'ferramenta.bases.editar' datasource.id}}
    <img src="/assets/img/icons/icon-edit.svg" alt="">
  {{/link-to}}
</td>
<td>{{link-to 'Filtrar' 'ferramenta.filtros.adicionar' (query-params base=datasource.id) class="anchor-button"}}</td>
<td>{{datasource.user.fullname}}</td>
<td>{{format-date datasource.created_at}}</td>

