<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo">
          </div>        Lemonade
        </h1> </header>
        <div class="auth-content">
          <p class="text-xs-center">SIGNUP TO GET INSTANT ACCESS</p>
          <form id="signup-form" {{action 'signup' on='submit'}}>
            <div class="form-group">
              <label for="firstname">Name</label>
              <div class="row">
                <div class="col-sm-6" id="firstname">
                  {{input type="text" class="form-control underlined" name="firstname" id="firstname" placeholder="Enter firstname" value=model.firstname}}
                  {{#each model.errors.firstname as |error|}}
                    <span class="has-error">{{error.message}}</span>
                  {{/each}}
                </div>
                <div class="col-sm-6" id="lastname">
                  {{input type="text" class="form-control underlined" name="lastname" id="lastname" placeholder="Enter lastname"  value=model.lastname}}
                  {{#each model.errors.lastname as |error|}}
                    <span class="has-error">{{error.message}}</span>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="form-group" id="email">
              <label for="email">Email</label>
              {{input type="email" class="form-control underlined" name="email" id="email" placeholder="Enter email address"  value=model.email}}
                  {{#each model.errors.email as |error|}}
                    <span id="email" class="has-error">{{error.message}}</span>
                  {{/each}}
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="row">
                <div class="col-sm-6" id="password">
                  {{input type="password" class="form-control underlined" name="password" id="password" placeholder="Enter password"  value=model.password}}
                  {{#each model.errors.password as |error|}}
                    <span class="has-error">{{error.message}}</span>
                  {{/each}}
                </div>
                <div class="col-sm-6" id="password_confirmation">
                  {{input type="password" class="form-control underlined" name="password_confirmation" id="password_confirmation" placeholder="Re-type password" value=model.passwordConfirmation}}
                  {{#each model.errors.password_confirmation as |error|}}
                    <span class="has-error">{{error.message}}</span>
                  {{/each}}
                </div>
              </div>
            </div>
            <!-- TO DO -->
            <div class="form-group">
              <label for="agree">
                {{input class='checkbox' name='agree' id='agree' type='checkbox' checked=agreed}}
                <span>Agree the terms and {{#link-to "policy"}}policy{{/link-to}}</span>
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
            </div>
            <div class="form-group">
              <p class="text-muted text-xs-center">Already have an account?
              <a> {{#link-to "login"}}Login!{{/link-to}}</a>
              </p>
            </div>
          </form>

        </div>
    </div>
  </div>
</div>
{{outlet}}
