{{#unless empty}}
  <div class="gViz-header">
    <div class='symbol'>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <span class='title'>{{title}}</span>
    <!-- <span class='subtitle'>{{subtitle}}</span> -->
  </div>

  <br>

  <div class='gViz-wrapper' data-id={{_id}} style={{style}}>

    <table class="table-chart table table-striped table-hover gViz-table
    table-bordered" id={{_id}}>
      {{!--
      <thead>
        <tr>
          {{#each headers as |h i|}}
            <th title={{h}} data-index={{i}} {{action "sortTable" i}}>{{{h}}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each _data as |tr|}}
          <tr>
            <td width="50%" data-value={{tr.name}}>{{tr.name}}</td>
            <td width="10%" data-value={{tr.avg}}>{{tr.avg}}</td>
            <td width="40%" data-value={{tr.avg}}><div class="progress-bar"><div style='{{tr.style}}'></div></div></td>
          </tr>
        {{/each}}
      </tbody>
      --}}
    </table>

  </div>
{{/unless}}
