<!-- ADD FILTERS CONTENT -->
<main class="tool-content-wrapper" id="main">
  <div class="col-8-12">
    <h2 class="title">Escolha a base de dados a ser filtrada</h2>
    <p class="description">A base de dados é o compilado de comentários a respeito de um anteprojeto de lei</p>
  </div>
  <div class="u-flow-opposite">
    {{#link-to 'ferramenta.bases.adicionar' class="anchor-button anchor-button--color-3 anchor-button--type-2"}}
      <img class="anchor-button__icon" src="/assets/img/icons/icon-plus.svg" alt="">adicionar nova base
    {{/link-to}}
  </div>
  <div class="input-wrapper row">
    <div class="custom-select" id="type">
      <select id="sel1" onchange={{action (mut model.job.datasource) value="target.value" }}>
        {{#each model.datasources as |datasource|}}
          <option value={{datasource.id}} selected={{eq base datasource.id}}>{{datasource.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="name" class="title">Nome da busca</label>
    <p class="description">Dê um nome para a sua busca</p>
    {{input type="text" class="input" id="jobName" value=model.job.name}}
  </div>
  <div class="input-wrapper">
    <label class="title" for="description">Descrição</label>
    <p class="description">Lorem ipsum dolor sit amet</p>
    {{textarea class="input input--textarea" id="description" placeholder="Descrição do projeto" value=model.job.description}}
  </div>
  {{forms/form-filter job=model.job datasource=datasource}}
</main>
<!-- END ADD FILTERS CONTENT -->
