{{main-sidebar indexActive='active'}}
<article class="content dashboard-page">
  <section class="section">
    <div class="row sameheight-container">
      <div class="col-xs-12">
        {{cards.card-latest-jobs workflows=model.workflows jobs=model.jobs}}
      </div>
      <div class="col-xs-6">
        {{cards.card-video-tutorial videoTutorial=model.videoTutorial}}
      </div>
      <div class="col-xs-6">
        {{cards.card-release-notes releaseNotes=model.releaseNotes}}
      </div>
    </div>
  </section>
</article>
{{outlet}}
