{{#unless tableRunning}}
  <td>
    <label class="item-check" id="select-all-items">
      <input id="checkbox-{{job.id}}" type="checkbox" class="checkbox" onchange={{action "checked" job.id}} >
      <span></span>
    </label>
  </td>
{{/unless}}
<td>{{job.idTruncated}}</td>
<td>{{job.name}}</td>
<td>{{job.user.fullname}}</td>
<td><i class={{job.status.icon}}></i></td>
{{#if job.isRunning}}
  <td><strong>aguarde</strong></td>
{{/if}}
{{#if job.hasCompleted}}
  <td>
    {{link-to 'ver' 'ferramenta.filtros.aberto' job.id class='anchor-button anchor-button--color-2'}}
  </td>
{{/if}}
{{#if job.hasError}}
  <td><strong>Erro no processamento</strong></td>
{{/if}}
{{#if job.noResult}}
  <td><strong>Não retornou nenhum resultado</strong></td>
{{/if}}
<td>{{format-date job.started}}</td>
{{#unless tableRunning}}
  <td>{{format-date job.finished}}</td>
  <td>
    <label class="switch">
      <input type="checkbox" name="jobPublic" checked={{job.public}} onchange={{action 'togglePublic' job}}>
      <div class="slider round"></div>
    </label>
  </td>
{{/unless}}
