{{main-sidebar workflowsActive='active'}}
<div class="page-content-wrapper container-fluid">
  <div class="row">
    <div class="col-xs-12" id="job-name">
      <div class="form-group job-name">
        <label for="jobName">Nome da Busca</label>
        {{input type="text" class="form-control underlined" id="jobName" value=searchName placeholder="Dê um nome para sua busca."}}
      </div>
    </div><!-- #job-name -->
    <div class="col-xs-12">
      <div>
        <div class="form-group">
          <label for="sel1">Selecione a Base</label>
          <select class="form-control" id="sel1" onchange={{action (mut datasource) value="target.value"}}>
            <option>Selecione aqui</option>
            {{#each model.datasources as |datasource| }}
              <option value="{{datasource.id}}">{{datasource.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="">
        <label class="item-check" id="select-all-items"> Public:
          {{input type="checkbox" name="publicSearch" checked=publicSearch class="checkbox"}}
          <span></span>
        </label>
      </div>
    </div>
    <div class="col-xs-12" id="job-filter">
      <div class="job-filter">
        <span class="title"> Filter </span>
        {{forms.form-filter workflow=model.workflow datasource=datasource
        publicSearch=publicSearch searchName=searchName}}
      </div>
    </div><!-- #job-filter -->
  </div><!--row -->
</div><!-- container-fluid -->
{{!--
<section>
  {{forms.form-terms-frequency terms=model.terms}}
</section>
--}}
{{outlet}}
